/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/assets/validation/localization
/orderPicking_updates.rar
/order_picker.7z
/orderpicker.sql
/public/getOrders.php
/public/getPickers.php
/vendor.zip
